@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

footer {
  height: 61.1vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.Redes_sociais {
  background-color: #222222;
  height: 5.7vh;
  padding: 4.28vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.Redes_sociais div {
  display: flex;
}
.Redes_sociais a {
  padding: 2vh;
  background-color: #000000;
  height: 5.35vh;
  width: 5.35vh;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  border-radius: 2.85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Redes_sociais a svg {
  fill: #ffffff;
  height: 4.5vh;
  width: 4.5vh;
}
.Redes_sociais a:hover {
  background-color: transparent;
}
.Redes_sociais a:hover svg {
  fill: #11D135;
}
.Redes_sociais a:nth-child(2), .Redes_sociais a:nth-child(3), .Redes_sociais a:last-child {
  margin-left: 1.76vw;
}

.Informações, .Dados {
  background-color: #000000;
}

.Informações {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2.34vw 0;
}
.Informações div {
  margin-left: 10px;
  width: 14.9vw;
  height: 40.4vh;
}
.Informações div:first-child h3, .Informações div:nth-child(2) h3, .Informações div:nth-child(3) h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 1.5vw;
  line-height: 1.75vw;
  padding-left: 0.94vw;
}
.Informações div:first-child ul, .Informações div:nth-child(2) ul, .Informações div:nth-child(3) ul {
  padding: 0.59vw 0;
  list-style: none;
}
.Informações div:first-child a, .Informações div:nth-child(2) a, .Informações div:nth-child(3) a {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  line-height: 1.3vw;
  display: flex;
  padding: 2vh 0.94vw;
  border-radius: 0.6vw;
}
.Informações div:first-child a:hover, .Informações div:nth-child(2) a:hover, .Informações div:nth-child(3) a:hover {
  color: #11D135;
  background-color: #222222;
}
.Informações div:nth-child(4) {
  width: 21.8vw;
  height: 28.7vh;
  padding: 1.45vh;
  text-align: center;
}
.Informações div:nth-child(4) div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}
.Informações div:nth-child(4) div h5 {
  width: 100%;
  text-align: right;
  margin-right: 3vw;
}
.Informações div:nth-child(4) div a:hover {
  background-color: transparent;
}
.Informações div:nth-child(4) h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.88vw;
  line-height: 1.39vw;
}
.Informações div:nth-child(4) a:first-child img {
  width: 7.33vw;
  height: 12.3vh;
}
.Informações div:nth-child(4) a:nth-child(2) img {
  width: 5.5vw;
  height: 12.4vh;
}
.Informações div:nth-child(4) a:nth-child(4) img, .Informações div:nth-child(4) a:last-child img {
  width: 6.37vw;
  height: 5.2vh;
}

.Dados {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 5.7vh 0;
}
.Dados p {
  margin-bottom: 1.5vh;
  font-weight: 400;
  font-size: 1.1rem;
}
.Dados span {
  font-weight: 400;
  font-size: 1rem;
}/*# sourceMappingURL=footer.css.map */